.buttonCalculator{
    border: 0.1px solid gray;
    outline: none;
    padding: 10px 15px;
    font-size: 1em;
    color: black;
    background: white;
    flex: 1;
    justify-content: flex-start;
    height: 60px;
}

.buttonCalculator.qd1{
    min-width: 25%;
}

.buttonCalculator.qd2{
    min-width: 50%;
}

.buttonCalculator.qd3{
    min-width: 75%;
}

.buttonCalculator.qd4{
    min-width: 100%;
}

.buttonCalculator:hover{
    cursor: pointer;
    background-color: rgb(200,200,200)
}

.buttonCalculator:active{
    background-color: rgb(180,180,180);
    color: white
}